 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital@0;1&display=swap');



 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'DM Serif Display', 'Montserrat',
         sans-serif, serif;

 }

 *:root {
     /* buttons */
     --button-background-color: black;
     --button-border: 1 outset gray;
     --button-text-color: white;
     --button-padding: 1rem;
     --button-border-radius: 360px;
     --button-box-shadow: 1px 1px 2px 2px gray;

     /* background: ; */
     --background: radial-gradient(circle,
             rgb(211, 211, 211), white);

     /* layout */
     --padding-regular: 1rem;
     --margnin-regular: 1rem;
 }

 /* Canvas styling */
 #main_canvas {
     min-height: 100vh;
     width: 100%;
     position: fixed;
     background: var(--background);
     z-index: -1;
 }


 /* General styling */
 .button,
 input[type=submit] {
     border: var(--button-border);
     background-color: var(--button-background-color);
     color: var(--button-text-color);
     border-radius: var(--button-border-radius);
     box-shadow: var(--button-box-shadow);
     padding: var(--button-padding);
     cursor: pointer;
 }

 .button:hover {
     opacity: 75%;
 }

 #message_div {
     width: 100%;
     text-align: center;
     padding: var(--padding-regular);

 }

 .navigation {
     padding-top: var(--margnin-regular);
     display: flex;
     justify-content: space-around;
 }

 /* nav */
 .navigation ul {
     display: flex;

 }

 .navigation li {
     margin: 0 var(--margnin-regular);
 }

 /* icons */
 .sorts_icon {

     color: green;
     height: 2rem;

     width: 2rem;
     font-size: 2rem;
 }

 /* buttons */
 #buttons_div {
     list-style-type: none;

 }


 /* sorts button layout*/
.sorts_display {
    position: relative;
    border: solid;
    max-width: fit-content;
}

 

.sorts_display_button{
    display: flex;
    padding: var(--padding-regular);
    padding-bottom: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    position: relative;
    margin: 0;
    
}
 .sorting_buttons_div {
     display: flex;
     flex-direction: column;
     max-width: fit-content;
     position: absolute;
      right: 0;
     z-index: 3;
     background-color: white;
     padding: 5px;
 }
 .sorting_buttons_div button {
    margin: 5px;
 }
.sorts_display  .sorts_icon { 
    margin-left: 10px;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    
}

.sorting_buttons_div { 
    display: none;
}
.sorting_buttons_div.active{
    display: flex;
}
.sort_arrow{
    transition: all 1s linear;
}
.sorting_buttons_div.active .sort_arrow{
    transform: rotate(-180deg);
    color: yellow;
}
/* utility class */
.active { 
    display: block;
}

 /* loader */
 .loading_group {
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }

 #spinner_message {
     margin: 2rem 0;
     color: #000;
 }