@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital@0;1&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, serif;
}

*:root {
  /* text sizes */
  /* settings */
  --setting-heading-color: #183d3d;
  /* icon */
  --icon-size: calc(1rem * 1.2);
  --button-text-sizes: inherit;
  /* buttons */
  --button-background-color: #5c8374;
  --button-outline: var(--button-background-color);
  --button-border: 1 outset #183d3d;
  --button-text-color: white;
  --button-padding: 0.5rem;
  --button-border-radius: 5px;
  --button-box-shadow: 0px 0px 1px 1px gray;
  --disabled-opactiy: 30%;
  --disabled-bg-color: #93b1a6;

  /* forms */
  --input-active-border: gray;
  --input-active-outline: gray;
  --input-active-shadow: 1px 1px 3px 3px black;
  /* canvas */

  --canvas-background: radial-gradient(circle at bottom, #5c8374, #183d3d);
  --canvas-min-height: 50vh;
  --canvas-max-height: 100vh;
  --canvas-max-width: 100%;
  --canvas-border-radius: 10px;
  --canvas-box-shadow: var(--button-box-shadow);
  --canvas-padding: var(--padding-regular);
  --canvas-margin: var(--margnin-regular);
  /* layout */
  --secondary-text-color: rgb(214, 211, 211);
  --font-color: white;
  --background-color: #040d12;
  --padding-regular: 1rem;
  --margnin-regular: 1rem;
}

/* Canvas styling */
body {
  min-height: 100vh;
}
#canvas_div {
  /* background: #28cdfc; */
  background-color: var(--background-color);

  margin: 0;
  padding: var(--padding-regular);
  z-index: -1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  display: flex;
  justify-content: center;
}

canvas {
  height: var(--canvas-height);
  /* min-height: var(--canvas-min-height); */
  max-height: var(--canvas-max-height);
  max-width: var(--canvas-max-width);
  border-radius: var(--canvas-border-radius);
  background: var(--canvas-background);
  box-shadow: var(--canvas-box-shadow);
  padding: var(--canvas-padding);
  margin: var(--canvas-margin);
}

/* General styling */
.button {
  border: var(--button-border);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  cursor: pointer;
  outline-color: var(--button-outline);
}

.sorts_display_button,
.settings_button {
  font-size: var(--button-text-sizes);
  border: var(--button-border);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  box-shadow: var(--button-box-shadow);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  outline-color: var(--button-outline);
  min-width: fit-content;
}
.button {
  border-radius: 0;
}

.button:hover {
  opacity: 75%;
}

#message_div {
  width: 100%;
  text-align: center;
  padding: var(--padding-regular);
}

.navigation {
  padding-top: var(--margnin-regular);
  display: flex;
  justify-content: space-around;
}

/* nav */
.navigation ul {
  display: flex;
}

.navigation li {
  margin: 0 var(--margnin-regular);
}

/* icons */
.sorts_icon {
  color: #fff;
  height: var(--icon-size);
  font-size: var(--icon-size);
  width: 100%;
  font-size: var(--icon-size);
}

/* buttons */
#buttons_div {
  list-style-type: none;
}

/* sorts button layout*/
.sorts_display {
  position: relative;
  max-width: fit-content;
}

.sorts_display_button {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.sorting_buttons_div {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: transparent;
}

.sorting_buttons_div {
  display: none;
}
.sorting_buttons_div.active {
  display: flex;
}
.sorts_select_text {
  margin: 5px 0;
  padding: var(--button-padding);
  border-right: 1px solid;
}
.sort_arrow {
  margin: 0 var(--button-padding);
  transition: all 1s linear;
  height: var(--icon-size);
  width: var(--icon-size);
}
.sort_arrow.active {
  transform: rotate(-180deg);
}

/* Settings  */
.settings_heading {
  text-align: center;
  padding: var(--padding-regular);
  background-color: var(--setting-heading-color);
  color: white;
}
#buttons_div {
  position: relative;
  max-width: fit-content;
}

.settings_button {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
}
.settings_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  margin-top: 5px;
}
.settings_text {
  margin: 5px 0;
  padding: var(--button-padding);
  border-right: 1px solid;
}

.settings_div {
  display: none;
}
.settings_div.active {
  display: flex;
}
.settings_icon {
  margin: 0 var(--button-padding);
  transition: all 1s linear;
  height: var(--icon-size);
  width: var(--icon-size);
}
.settings_icon.active {
  transform: rotate(180deg);
}
/* utility class */
.active {
  display: block;
}

/* header content */

/* options */
.options {
  display: flex;
  align-items: center;

  justify-content: center;
  /* justify-content: center; */
  padding: var(--padding-regular);
}

.options > div {
  margin: var(--margnin-regular);
}
/* message div */

/* speed options */
#error_div {
  text-align: center;
}

/* loader */
.loading_group {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#spinner_message {
  margin: 2rem 0;
  color: #000;
}

/* text */
.screen_text {
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-regular);
  margin: var(--margnin-regular);
}

/* forms */
label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  outline: 1px black;
  font-size: var(--button-text-sizes);
}
.form {
  display: flex;
  flex-direction: column;
}
#forms_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#forms_div form {
  margin: var(--margnin-regular);
  padding: var(--padding-regular);
}

input {
  background: transparent;
  color: var(--button-text-color);
  font-size: var(--button-text-sizes);
  border: none;
  padding-top: var(--padding-regular);
}
input:focus,
input:active {
  border: none;
  outline: none;
  box-shadow: none;
}

#forms_div input[type="submit"] {
  margin-top: 5px;
}
.form_hint {
  text-align: center;
  font-weight: 200;
  color: var(--secondary-text-color);
}

.label_active {
  border: var(--input-active-border);
  outline: var(--input-active-outline);
  box-shadow: var(--input-active-shadow);
}
/* footer */
footer {
  margin: var(--margnin-regular);
}

.disabled {
  background-color: var(--disabled-bg-color);
}

.button.disabled .sorts_icon {
  opacity: var(--disabled-opactiy);
}

@media screen and (max-width: 800px) {
  #forms_div {
    flex-direction: column;
  }
  .form_break {
    display: none;
  }
}
